@import ../../node_modules/bootstrap/scss/bootstrap.scss
@import ./_fonts
@import ./_icones

*
    font-family: "Outfit"
    header
        .nav-item
            font-size: 12px
            letter-spacing: 2px
        background-image: url("../../public/img/hero-bg.jpg")
        background-position: center
        background-size: cover
        background-repeat: none
        background-color: #383838
        background-blend-mode: multiply
        height: 100vh
        h1
            font-family: "Satisfy"
            font-size: 72px
        span
            letter-spacing: 2px
        .banner
            height: calc( 90vh - 50px )