@import ../../node_modules/bootstrap/scss/bootstrap.scss
@import ./_fonts
@import ./_icones

*
    font-family: "Outfit"
    header
        .nav-item
            font-size: 12px
            letter-spacing: 2px
        background-image: url("../../public/img/hero-bg.jpg")
        background-position: center
        background-size: cover
        background-repeat: none
        background-color: #383838
        background-blend-mode: multiply
        height: 100vh
        h1
            font-family: "Satisfy"
            font-size: 72px
        span
            letter-spacing: 2px
        .banner
            height: calc( 90vh - 50px )
    .aboutMe
        padding: 10%
        ul
            list-style: none
            padding: 0
    .myServices
        padding: 50px 10%
    .border-icon
        width: 50px
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        background-color: #f7f7f7
        border-radius: 50%
    .contactMe
        padding: 50px 10%
        input
            margin: 5px
            padding: 20px
        textarea
            margin: 5px
            padding: 20px
    .icon-social
        border: 0.5px solid black
        padding: 8px
        border-radius: 50%
    footer
        background-image: url("../../public/img/footer-bg.jpg")
        background-position: center
        background-size: cover
        background-color: #383838
        background-blend-mode: multiply
        padding: 10% 0
    .titre-footer
        font-family: "Satisfy"
        font-size: 36px
        margin: 0
        padding: 0
    .icon-footer
        width: 50px
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        background-color: #FFC107
        border-radius: 50%